/*? ************ RESET CSS ************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  text-decoration: none;
  border: none;
}

/*? ***********  MAP **********/
#map {
  background-color: #141313;
  height: 100vh;
}

.formMap{
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}